.discover-events-section {
  background-color: #0c172f;
}
.discover-evnts-heading {
  color: #ffffff;
  font-size: 31px;
  line-height: 37px;
  font-weight: 700;
}
.discover-evnts-description {
  color: #ffffff;
  font-weight: 500;
  font-size: 21px;
  line-height: 23px;
  margin-top: 6%;
}
.download-from-svg {
  max-width: 40%;
  max-height: 200px;
}
